.SignUp {
    position: fixed;
    background: white;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    z-index: 4;
    border: 2px solid black;
    top: 120px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}

.User {
    margin-bottom: 30px;
}