

.MuiInputBase-input {
    width: 300px !important;
}

p {
    font-size: 22px;
}

.InputBar {
    margin-left: 50px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.Pagination {
    display: flex;
    justify-content: center;
}